# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large AI model files
*.h5
*.weights.h5

# Optional logs
*.log